<% if (success && success.length) { %> 
    <div class="success-partial">
        <%= success %> 
    </div>
<% } %> 

<script>
    let successPartial = document.querySelector('.success-partial')
    successPartial && setTimeout(() => {
        successPartial.style.display = 'none'
    }, 4500)
</script>