<%- include('./partials/header') %> 
<%- include('./partials/navbar') %> 

<div class="not-found-div">
    <div class="not-found-text-div">
        <h2 class="not-found-h2">Unknown coordinates</h2>
        <p class="not-found-p">Despite attempts by our best cartographers, we didn't manage to find the specified location.</p>
    </div>
</div>

<%- include('./partials/footer') %> 
