<%- include('./partials/header') %> 

<div class="auth-login-div">
    <%- include('./partials/navbar') %> 
    <%- include('./partials/error') %> 

    <h2 class="auth-login-title" data-aos="flip-up">Welcome back, adventurer</h2>
    <div class="auth-login-form-div">
    <form action="" method="POST" class="auth-login-form">
        <label for="username" class="auth-label" data-aos="fade-left" data-aos-delay="500">Enter your username.</label>
        <input type="text" name="username" class="auth-input" placeholder="e.g. Zach Pizzaz" data-aos="fade-left" data-aos-delay="500" required title="Please enter a username.">

        <label for="password" class="auth-label" data-aos="fade-left" data-aos-delay="700">Enter your password.</label>
        <input type="password" name="password" class="auth-input" placeholder="1 uppercase, 1 lowercase, 1 number" data-aos="fade-left" data-aos-delay="700" required title="Please enter a password.">

        <button class="auth-button" data-aos="fade-up" data-aos-delay="1100" data-aos-offset="0">Lift off</button>
    </form>
    </div>
</div>

<%- include('./partials/footer') %> 