<%- include('./partials/header') %> 
<%- include('./partials/navbar') %> 

<div class="compose-log-div">

    <div>
        Event stuff.
    </div>

    <div>
        <form action="#" method="POST">

            <label for="title">Log title</label>
            <input type="text" id="title" value="title">

            <label for="entry">Log entry</label>
            <textarea name="" id="entry" cols="70" rows="50" ></textarea>

        </form>
    </div>

</div>


<%- include('./partials/footer') %> 