<%- include('./partials/header') %>

<div class="auth-signup-div">
  <%- include('./partials/navbar') %> <%- include('./partials/error') %>

  <h2 class="auth-signup-title" data-aos="flip-up">Create a new account</h2>
  <div class="auth-signup-form-div">
    <form action="/signup" method="POST" class="auth-signup-form">
      <label
        for="username"
        class="auth-label"
        data-aos="fade-left"
        data-aos-delay="500"
        >Enter a username.</label
      >
      <input
        id="username"
        type="text"
        name="username"
        class="auth-input"
        placeholder="e.g. Zach Pizzaz"
        data-aos="fade-left"
        data-aos-delay="500"
        required
      />

      <label
        for="email"
        class="auth-label"
        data-aos="fade-left"
        data-aos-delay="600"
        >Enter an email.</label
      >
      <input
        id="email"
        type="email"
        name="email"
        class="auth-input"
        placeholder="e.g. spaceguy@gmail.com"
        data-aos="fade-left"
        data-aos-delay="600"
        required
        pattern="\b[\w\.-]+@[\w\.-]+\.\w{2,4}\b"
      />

      <label
        for="password"
        class="auth-label"
        data-aos="fade-left"
        data-aos-delay="700"
        >Enter a password.</label
      >
      <div class="password-input-div">
        <input
          id="password"
          type="password"
          name="password"
          class="auth-input"
          placeholder="1 uppercase, 1 lowercase, 1 number"
          data-aos="fade-left"
          data-aos-delay="700"
          required
          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"
          title="Please include at least 1 lowercase character, 1 uppercase character, 1 number"
          data-password-input
        />
        <img
          src="images/show-password.svg"
          alt="Show password."
          class="show-password"
          data-show-password
          data-aos="fade-left"
          data-aos-delay="1000"
        />
        <img
          src="images/hide-password.svg"
          alt="Hide password."
          class="hide-password"
          data-hide-password
        />
      </div>

      <label
        for="age"
        class="auth-label"
        data-aos="fade-left"
        data-aos-delay="800"
        >Enter your age.</label
      >
      <input
        id="age"
        type="number"
        name="age"
        class="auth-input"
        placeholder="Must be over 18."
        data-aos="fade-left"
        data-aos-delay="800"
        min="18"
        max="90"
        required
      />

      <label
        for="shipName"
        class="auth-label"
        data-aos="fade-left"
        data-aos-delay="900"
        >Choose a ship name.</label
      >
      <input
        id="shipName"
        type="text"
        name="shipName"
        class="auth-input"
        placeholder="e.g. Venture"
        data-aos="fade-left"
        data-aos-delay="900"
      />

      <label
        for="rank"
        class="auth-label"
        data-aos="fade-left"
        data-aos-delay="1000"
        data-aos-offset="0"
        >Select your rank.</label
      >
      <select
        id="rank"
        name="rank"
        class="auth-input"
        data-aos="fade-left"
        data-aos-delay="1000"
        data-aos-offset="0"
      >
        <option value="Midshipman">Midshipman</option>
        <option value="Ensing">Ensing</option>
        <option value="Liutenant">Liutenant</option>
        <option value="Commander">Commander</option>
        <option value="Captain">Captain</option>
        <option value="Fleet Captain">Fleet Captain</option>
        <option value="Commodore">Commodore</option>
        <option value="Rear Admiral">Rear Admiral</option>
        <option value="Vice Admiral">Vice Admiral</option>
        <option value="Admiral">Admiral</option>
        <option value="Fleet Admiral">Fleet Admiral</option>
        <option value="Admrial of Starfleet">Admiral of Starfleet</option>
      </select>

      <button
        class="auth-button auth-button-2"
        data-aos="fade-left"
        data-aos-delay="1100"
        data-aos-offset="0"
      >
        Lift off
      </button>
    </form>
  </div>
</div>

<script>
  // show and hide password field
  const showPassword = document.querySelector("[data-show-password]");
  const hidePassword = document.querySelector("[data-hide-password]");
  const passwordInput = document.querySelector("[data-password-input]");

  showPassword &&
    showPassword.addEventListener("click", () => {
      passwordInput.setAttribute("type", "text");
      showPassword.style.display = "none";
      hidePassword.style.display = "block";
    });

  hidePassword &&
    hidePassword.addEventListener("click", () => {
      passwordInput.setAttribute("type", "password");
      hidePassword.style.display = "none";
      showPassword.style.display = "block";
    });
</script>
<%- include('./partials/footer') %>
