<%- include('./partials/header') %> 
<div class="title-page">
    <div class="titlepage-stardate-div" data-aos="fade-down">
        <h1 class="titlepage-stardate-title">RETRIEVING CURRENT STARDATE ...</h1>
        <img class="titlepage-stardate-loader" src="https://res.cloudinary.com/dsbyr3fhu/image/upload/v1674751684/Captain%27s%20Blog/Backgrounds%20and%20Icons/loader-1_azzb9u.svg">
    </div>

    <div class="titlepage-title-and-subtitle-div">
        <h1 class="titlepage-title">Captain's Blog</h1>
        <h2 class="titlepage-subtitle">Star date:  <span class="titlepage-current-stardate">   </span> </h2>

        <div class="titlepage-link-div">
            <a class="titlepage-link" href="/home">Embark</a>
        </div>
    </div>
</div>


<script>
    let stardate = document.querySelector('.titlepage-current-stardate')
    let stardateDiv = document.querySelector('.titlepage-stardate-div')
    let homeTitleAndSubtitleDiv = document.querySelector('.titlepage-title-and-subtitle-div')
    
    let randomStardate = (Math.random() * 100000).toFixed(2)

    let getStardate =  function() {
        setInterval(() => {
            stardateDiv.style.display = "none"
            stardate.textContent = randomStardate
            homeTitleAndSubtitleDiv.style.display = "block"
            homeTitleAndSubtitleDiv.style.animation = "title-fade-in 1200ms ease-in"
        }, 2500)
    }

    getStardate() 
</script>

<%- include('./partials/footer') %> 