<%- include('./partials/header') %> 
<div class="title-page">
    <div class="home-stardate-div" data-aos="fade-down">
        <h1 class="home-stardate-title">RETRIEVING CURRENT STARDATE ...</h1>
        <img class="home-stardate-loader" src="loader-1.svg">
    </div>

    <div class="home-title-and-subtitle-div">
        <h1 class="home-title">Captain's Blog</h1>
        <h2 class="home-subtitle">Star date:<span class="home-current-stardate">   </span> </h2>

        <div class="home-link-div">
            <a class="home-link" href="/home">Explore</a>
        </div>
    </div>
</div>


<script>
    let stardate = document.querySelector('.home-current-stardate')
    let stardateDiv = document.querySelector('.home-stardate-div')
    let homeTitleAndSubtitleDiv = document.querySelector('.home-title-and-subtitle-div')
    

    let getStardate = async function() {
        const response = await fetch('https://stardateapi.herokuapp.com/api/csd')
        const data = await response.json()
        setInterval(() => {
            stardateDiv.style.display = "none"
            stardate.textContent = data.a
            homeTitleAndSubtitleDiv.style.display = "block"
            homeTitleAndSubtitleDiv.style.animation = "title-fade-in 1200ms ease-in"
        }, 2500)
        
    }

    getStardate() 
</script>

<%- include('./partials/footer') %> 