*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Unica One', cursive;
    letter-spacing: 1px;
}

::-webkit-scrollbar-track  {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb  {
	border-radius: 10px;
	background-image: -webkit-gradient(linear, left bottom, left top,color-stop(0.44, rgb(122,153,217)), color-stop(0.72, rgb(73,125,189)), color-stop(0.86, rgb(28,58,148)));
}

:root {
   --primary-color: #faebd7;
   --secondary-color: #023e8a;
   --tertiary-color: #141414;
   --error-color: #fb7805;
   --success-color: #048e12;
}

/* TITLE PAGE START */
.title-page {
    background-image: url('/images/image-1.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
}

.titlepage-title-and-subtitle-div {
    display: none;
    margin-top: 40vmin;
    margin-right: 10vmin;
    text-align: right;
    color: var(--primary-color);
    font-size: 7vmin;
}

.titlepage-subtitle {
    text-align: right;
    color: var(--primary-color);
    font-size: 4vmin;
    margin-top: 1.5vmin;
}

.titlepage-link-div {
    text-align: right;
    margin-top: 2.5vmin;
}

.titlepage-link {
    text-decoration: none;
    color: var(--primary-color);
    opacity: 85%;
    background-color: var(--secondary-color);
    padding: 1vmin;
    border-radius: 5%;
    position: relative;
}

.titlepage-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 200ms ease-in-out;
    border: 5px solid var(--secondary-color);
}

.titlepage-link:hover::before, .titlepage-link:focus::before  {
    top: -10px;
    right: -10px;
    left: -10px;
    bottom: -10px;
}

.titlepage-stardate-div {
    margin: 0 auto;
    text-align: center;
    padding-top: 45vmin;
}

.titlepage-stardate-title {
    color: var(--primary-color);
    font-size: 3vmin;
    animation: stardate-loading 800ms infinite alternate;
}

.titlepage-stardate-loader {
    max-width: 30vmin;
    max-height: 15vmin;
}

@keyframes stardate-loading {
    0% {
        opacity: 100%
    }

    100% {
        opacity: 20%
    }
}

@keyframes title-fade-in {
    0% {
        opacity: 0%
    }

    100% {
        opacity: 100%
    }
}
/* TITLE PAGE END */

/* HOME PAGE START */
.navbar {
    width: 100%;
    height: 8vmin;
    padding: 1vmin 0;
    background: linear-gradient(to right, var(--secondary-color) 0%, var(--tertiary-color) 100%);
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 5vmin;
}

.jump-button {
    padding: 0.1vmin 17vmin;
    background: linear-gradient(to right, transparent 0%, var(--primary-color) 50%, transparent 100%);
    color: var(--secondary-color);
}

.jump-button:hover {
    cursor: pointer;
    background: linear-gradient(to right, transparent 0%, var(--error-color) 50%, transparent 100%);
    color: var(--tertiary-color);
}

.navbar-logo {
    margin-left: 1vmin;
    cursor: default;
}

.navbar-home-link {
    all: unset;
}

.navbar-home-link:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.navbar-list {
    display: flex;
    list-style: none;
    margin-right: 1vmin;
}

.navbar-list-item {
    margin-right: 3vmin;
    padding-right: 1.5vmin;
}

.navbar-list-item:hover {
    opacity: 100%;
    filter: brightness(120%);
    cursor: pointer;
}

.sticky-navbar {
    background-color: var(--tertiary-color);
    height: 3vmin;
    font-size: 2.5vmin;
    width: 100%;
    position: sticky;
}

.sticky-navbar-list {
    display: flex;
    justify-content: space-evenly;
    color: var(--primary-color);
}

.sticky-navbar-list-item {
    list-style: none;
}

.sticky-navbar-list-item:hover {
    cursor:pointer;
    filter: brightness(120%);
}

.sticky-navbar-list-item a {
    all: unset;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 5;
  }

.home-background-div {
    background-image: url('/images/image-3.jpg');
    background-size: cover;
    overflow-x: hidden;
    background-attachment: fixed;
}

.home-blogs-section {
    max-width: 100vw;
    min-height: 75vh;
}

.home-blog {
    display: none;
    border: 4px solid var(--secondary-color);
    border-radius: 2vmin;
    border-top-right-radius: 20vmin;
    margin: 10vmin auto;
    width: 70vw;
    max-height: 82vh;
    background-color: var(--tertiary-color);
    padding: 5vmin;
    color: var(--primary-color);
    opacity: 80%;
    position: relative;
}

.home-blog-fetch-button {
    display: none;
    font-family: inherit;
    font-size: 5vmin;
    padding: 0.5vmin 1vmin;
    border-radius: 1vmin;
    outline: none;
    border: none;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    margin: -8vmin auto;
    opacity: 80%;
}

.home-blog-fetch-button:hover {
    cursor: pointer;
    animation: fetch-button-animation 400ms infinite alternate;
}

.home-blog-title {
    text-align: center;
}

.home-author-and-stardate-div {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 2vmin;
}

.home-blog-body {
    margin-top: 2vmin;
}

.home-blog-likes {
    margin-top: 2vmin;
    text-align: right;
}

.home-blog-user-img {
    border-radius: 50%;
    position: absolute;
    max-width: 10vmin;
    max-height: 10vmin;
    top: 2.5%;
    left: 2.5%;
}

.home-loader-div {
    margin: 10vmin auto;
    text-align: center;
    color: var(--primary-color);
}

.home-loader {
    max-width: 25vmin;
    max-height: 22vmin;
}

.how-to-use-section {
    display: grid;
    grid-template-columns: 70vmin 120vmin;
    gap: 15vmin;
    justify-content: center;
    color: var(--primary-color);
}

.how-to-title {
    text-align: center;
    font-size: 8vmin;
    color: var(--primary-color);
    margin: 7vmin auto;
    margin-top: 15vmin;
    background: linear-gradient(to right, transparent 0%, var(--tertiary-color) 50%, transparent 100%);
}

.home-explanation-list-title {
    text-align: center;
    font-size: 5.5vmin;
    padding: 2vmin 0;
}

.home-explanation-list {
    list-style: none;
    display: flex;
    gap: 10%;
    justify-content: space-between;
    font-size: 4.1vmin;
    background: linear-gradient(to right, transparent 0%, var(--error-color) 50%, transparent 100%);
}

.home-list-item:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.steps-text-div {
    padding: 5vmin 3vmin;
    background-color: var(--tertiary-color);
    opacity: 80%;
    border-radius: 1.5vmin;
}

.steps-text {
    color: var(--primary-color);
    text-align: left;
    font-size: 3.5vmin;
}

.steps-text::first-letter {
    font-size: 5vmin;
    color: var(--error-color);
}

.step-active {
    display: block; 
}

.step-inactive {
    display: none;
}

.steps-background {
    background: var(--secondary-color);
    border-radius: 2vmin;
    text-align: center;
}

.hr-style-one {
    height: 18px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px var(--error-color);
    padding: 1vmin 0;
    margin: 1.5vmin 0;
}

.star-map-example-container {
    max-height: 120vmin;
    max-width: 120vmin;
    position: relative;
    border-radius: 1.5vmin;
}

.star-map-example-container img {
    width: 90%;
    height: 90%;
    border: 4px solid var(--secondary-color);
    border-radius: 1.5vmin;
}

.point-of-interest {
    position: absolute;
    height: 3vmin;
    width: 3vmin;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    opacity: 50%;
    animation: point-of-interest-animation 2s infinite alternate;
    color: var(--primary-color)
}

.point-of-interest:hover {
    cursor: pointer;
    opacity: 100%;
    filter: brightness(110%);
    animation: none;
    background-color: #023e8a;
    transition: 200ms ease;
    border: 2px solid var(--error-color);
    scale: 1.2;
}

.point-of-interest-1 { top: 13.8%; left: 9.4%; }
.point-of-interest-2 { top: 35%; left: 55%; }
.point-of-interest-3 { top: 28.7%; left: 25.2%; }
.point-of-interest-4 { top: 75%; left: 35%; }
.point-of-interest-5 { top: 25%; left: 45%; }
.point-of-interest-6 { top: 47.5%; left: 16.25%; }
.point-of-interest-7 { top: 67.5%; left: 76.25%; }
.point-of-interest-8 { top: 27.5%; left: 66.25%; }

.about-and-contact {
    max-width: 70%;
    margin: 0 auto;
}

.about-us-title {
    text-align: center;
    font-size: 8vmin;
    color: var(--primary-color);
    margin: 7vmin auto;
    margin-top: 28.5vmin;
    background: linear-gradient(to right, transparent 0%, var(--tertiary-color) 50%, transparent 100%);
}

.about-us-container {
    background-color: var(--tertiary-color);
    opacity: 80%;
    padding: 5vmin 5vmin;
    border-radius: 1.5vmin;
    border: 4px solid var(--secondary-color);
}

.aside-comment {
    float: left;
    color: var(--secondary-color);
    width: 27.5%;
    padding: 2.5vmin;
    margin-left: .5rem;
    box-shadow: inset 5px 0 5px -5px var(--error-color);
    font-style: italic;
    font-size: 3.5vmin;
}

.aside-comment p {
    filter: brightness(200%);
}

.about-us-text {
    color: var(--primary-color);
    font-size: 3vmin;
}

.about-us-text::first-letter {
    color: var(--error-color);
    font-size: 5vmin;
}

.contact-us-container {
    background-color: var(--tertiary-color);
    opacity: 80%;
    padding: 3vmin 5vmin;
    border-radius: 1.5vmin;
    border: 4px solid var(--secondary-color);
    margin: 10vmin auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.home-form-container {
    margin: 0 auto;
    width: 85%;
}

.contact-us-form-title {
    text-align: center;
    color: var(--primary-color);
    font-size: 6vmin;
}

.form-explanation-container {
    color: var(--primary-color);
    margin-top: 28.5%;
    padding: 1vmin;
    text-align: center;
}

.form-explanation-container p {
    font-size: 3.25vmin;
}

.form-explanation-container p::first-letter {
    color: var(--error-color);
    font-size: 5vmin;
}

.contact-us-form {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

.contact-us-form * {
    margin-top: 1vmin;
    font-family: inherit;
    text-align: center;
    font-size: 2.75vmin;
    opacity: 90%;
    border-radius: 1vmin;
}

.contact-us-form input:active, .contact-us-form input:focus, .contact-us-form input:hover,
.contact-us-form textarea:active, .contact-us-form textarea:focus, .contact-us-form textarea:hover,
.contact-us-form select:active, .contact-us-form select:focus, .contact-us-form select:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.home-footer {
    height: 15vmin;
    background-color: var(--tertiary-color);
    border-image-source: linear-gradient(to right, transparent -20%, var(--error-color) 50%, transparent 120%);
    border-top: 5px solid;
    border-image-slice: 1;
    color: var(--primary-color);
}

@keyframes fetch-button-animation {
    0% {
        background-color: var(--tertiary-color);
    }

    100% {
        background-color: var(--secondary-color);
    }
}

@keyframes point-of-interest-animation {
    0% {
        filter: brightness(150%)
    }
    100% {
        filter: brightness(50%)
    }
}
/* HOME PAGE END */

/* AUTHENTICATION START */
.signup-link {
    all: unset;
}

.login-link {
    all: unset;
}

.auth-signup-div {
    background: url('/images/image-5.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: var(--primary-color);
    overflow: hidden;
}

.auth-signup-title {
    font-size: 8vmin;
    text-align: right;
    margin-top: 3vmin;
    margin-right: 5vmin;
    margin-bottom: 3vmin;
}

.auth-signup-form-div {
    display: flex;
    justify-content: flex-end;
}

.auth-signup-form {
    display: flex;
    flex-direction: column;
    font-size: 3.5vmin;
    margin-right: 15vmin;
}

.auth-label {
    width: 43vmin;
    text-align: center;
    margin-top: 1vmin;
}

.auth-input {
    width: 43vmin;
    background-color: var(--secondary-color);
    text-align: center;
    padding: 0.75vmin;
    color: var(--primary-color);
    font-family: inherit;
    font-size: 2.5vmin;
}

.auth-button {
    width: 20vmin;
    padding: 0.75vmin;
    margin: 2vmin auto;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    box-shadow: 0.5vmin 1vmin 1vmin 2vmin transparent;
    font-size: 2.5vmin;
    font-family: inherit;
    border-radius: 1vmin;
}

.auth-button:hover {
    cursor: pointer;
    animation: fetch-button-animation 400ms infinite alternate;
}

.auth-login-div {
    background: url('/images/image-6.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: var(--primary-color);
    overflow: hidden;
}

.auth-login-form-div {
    display: flex;
    justify-content: center;
}

.auth-login-title {
    font-size: 8vmin;
    text-align: center;
    margin-top: 15vmin;
    margin-bottom: 3vmin;
}

.auth-login-form {
    display: flex;
    flex-direction: column;
    font-size: 3.5vmin;
}

.auth-input:valid {
    border: 3px solid var(--primary-color);
}

.auth-input:invalid {
    border: 3px solid var(--error-color);
}

.success-partial {
    height: 5vmin;
    width: 100%;
    background-color: var(--success-color);
    color: var(--primary-color);
    text-align: center;
    line-height: 5vmin;
    font-size: 2.8vmin;
}

.error-partial {
    height: 5vmin;
    width: 100%;
    background-color: var(--error-color);
    color: var(--primary-color);
    text-align: center;
    line-height: 5vmin;
    font-size: 2.8vmin;
}

.logout-button {
    width: 20vmin;
    padding: 0.75vmin;
    line-height: 5vmin;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    font-size: 2.5vmin;
    font-family: inherit;
    border-radius: 1vmin;
}

.logout-button:hover {
    cursor: pointer;
    animation: fetch-button-animation 400ms infinite alternate;
}

.login-info {
    margin-top: 1vmin;
}
/* AUTHENTICATION END */

/* 404 PAGE START */
.not-found-div {
    background: url('/images/compass-1.jpg');
    background-size: cover;
    width: 100vw;
    height: 92vh;
    overflow: hidden;
}

.not-found-text-div {
    width: 60vmin;
    min-height: 30vmin;
    margin: 10vmin 5vmin;
    color: var(--primary-color);
    text-align: center;
}

.not-found-h2 {
    font-size: 10vmin;
}

.not-found-p {
    margin-top: 5vmin;
    font-size: 4vmin;
}

/* 404 PAGE END */

/* USERPAGE START */
.link-to-userpage {
    all: unset;
}

.userpage-container-div {
    background: url('/images/image-10.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 60%;
    min-width: 100%;
    min-height: 150vh;
    overflow-x: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.userpage-user-information {
    color: var(--primary-color);
    min-height: 90vmin;
    margin: 10vmin 2vmin;
    display: none;
    max-width: 50vw;
    flex-grow: 1;
}

.userpage-user-information h1 {
    text-align: center;
    padding-bottom: 5vmin;
    font-size: 9vmin;
}

.userpage-blog-information {
    color: var(--primary-color);
    min-height: 80vmin;
    opacity: 75%;
    margin: 10vmin auto;
    display: none;
    flex-grow: 1;
}

.userpage-blog-information h1 {
    text-align: center;
}

.image-and-info-container {
    display: flex;
    justify-content: space-around;
}

.image-container {
    min-width: 20vmin;
    max-height: 35vmin;
    border: 1px solid var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vmin;
}

.image-container img {
    object-fit: fill;
    max-width: 50vmin;
    max-height: 37.5vmin;
    border-radius: 2vmin;
    margin-top: 4vmin;
}

.info-container {
    width: 80vmin;
    text-align: left;
    border: 1px solid var(--secondary-color);
    padding: 2vmin;
    border-radius: 2vmin;
    background-color: var(--tertiary-color);
    opacity: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info-label-span {
    background: linear-gradient(to right, transparent 0%, var(--secondary-color) 20%, transparent 100%);
    padding: 0 13.5vmin;
}

.info-container h3 {
    font-weight: normal;
    margin-top: 1.5vmin;
    font-size: 3.5vmin;
}

.systems-visited-container {
    background-color: var(--tertiary-color);
    opacity: 85%;
    border: 1px solid var(--secondary-color);
    border-radius: 2vmin;
    margin: 2vmin auto;
    max-width: 90vmin;
}

.systems-inspected-title {
    text-align: center;
    margin-top: 3vmin;
    margin-bottom: 1.5vmin;
    font-size: 6vmin;
}

.systems-inspected-div {
    text-align: center;
    column-gap: -2vmin;
    column-count: 3;
    font-size: 3.5vmin;
    padding-bottom: 1vmin;
}

.systems-inspected-div p {
    z-index: 1;
    position: relative;
    margin-top: 1vmin;
}

.systems-inspected-div p::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, transparent 0%, var(--secondary-color) 20%, var(--tertiary-color) 100%);
    transform: scaleX(0);
    transition: 150ms ease-in-out;
    transform-origin: left;
    z-index: -1;
}

.systems-inspected-div p:hover::before {
    transform: scaleX(1);
}

.systems-inspected-div p:hover {
    cursor: pointer;
    filter: brightness(120%);
    color: var(--primary-color);
    transition: color 300ms ease-in-out;
}

.update-button, .update-form-button {
    all: unset;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1vmin;
    display: block;
    margin: 1vmin auto;
    border-radius: 1vmin;
    grid-column: span 2;
}

.update-button:hover, .update-form-button:hover {
    cursor: pointer;
    animation: fetch-button-animation 400ms alternate infinite;
}

.update-container {
    display: none;
    width: 60vmin;
    text-align: left;
    border: 1px solid var(--secondary-color);
    padding: 2vmin;
    border-radius: 2vmin;
    background-color: var(--tertiary-color);
    opacity: 85%;
}

.update-form {
    display: flex;
    flex-direction: column;
}

.update-form h3 {
    font-size: 3.5vmin;
    font-weight: normal;
}

.update-input {
    width: 30vmin;
    background-color: var(--secondary-color);
    text-align: center;
    padding: 0.75vmin;
    color: var(--primary-color);
    font-family: inherit;
    margin: 0.35vmin auto;
}

.first-update-input {
    background-color: var(--error-color);
}

.update-label {
    font-size: 3vmin;
    margin: 0.35vmin auto;
}

.update-label:nth-of-type(1) {
    margin-top: 3vmin;
}

.update-form-close {
    font-size: 2vmin;
    padding: 1vmin;
    background-color: var(--error-color);
    color: var(--primary-color);
    width: 20vmin;
    text-align: center;
    display: block;
    margin: 0.35vmin auto;
    border-radius: 1vmin;
}

.update-form-close:hover {
    cursor: pointer;
    filter: brightness(120%);
}
/* USERPAGE END */


/* MEDIA QUERIES */
@media screen and (max-width: 900px) {
    .title-page {
        background-image: url('/images/image-2.jpg')
    }
}